/* Styles */
form {
    width: 347px;
}
a {
    display: block;
}
tr:hover {
    background-color:  lightgray;
}
#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.9;
  }